.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.dataContainer textarea {
  margin: 20px 0 10px 0;
  height: 60px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.header img {
    width: 70%;
    border-radius: 0% 0% 30% 30%;
  }


.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.bio img {
  height: 16px;
  vertical-align: middle;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}